<!-- Loop a function that adds continuous images based on how many urls they are
     the urls function as hyperlinks to an image, on click redirect to watchPage, easy. -->
<style>
    Body {
        background: rgb(45,160,184);
        background: linear-gradient( rgba(45,160,184,1) 2%, rgba(2,0,36,0.7792366946778712) 16%, rgba(9,115,121,1) 92%);
        }
        .slideshow-group {
        display: flex;
        justify-content: center;
        }
</style>
<head>
    <title>Browsing Page</title>
</head>
<%- include('./partials/carousel.ejs') %>

<body>
    <% let maxMovies = 100 %>
    <% let videoWidth = 200 %>
    <% let videoHeight = 100 %>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/userCheck.ejs') %>

<!-- 
    Declare generic functions
-->  

    <script>

      var slideshowArr = [];

      function showSlides(n, slideshow) {
        slideshow.currentSlideIndex = n;
        var i;
        var slides = slideshow.getElementsByClassName("mySlides");
        var startIndex = (n - 1) * 4;
        var endIndex = startIndex + 4;
        if (endIndex > slides.length) {
          endIndex = slides.length;
          startIndex = endIndex - 4;
        }
        for (i = 0; i < slides.length; i++) {
          if (i >= startIndex && i < endIndex) {
            slides[i].style.display = "block";
          } else {
            slides[i].style.display = "none";
          }
        }
      }

      /* function storeURL
      ------------------------------
        this function takes the url chosen from the browsing page
        and redirects the user to a watch page with the unique URL identifier

      */
      function storeURL(url) {
          localStorage.setItem("retrievedURL", url);
          console.log("URL STORED!", url);
          const newUrl = `/watchPage/${url}`;
          window.location.href = newUrl;
      }

       /*
    function moveSlides
    --------------------
    this is the controller for the arrows.
    on click will move the slides that determined number of slides forward.
  
    */
    function moveSlides(n, slideshow) {
      showSlides(slideshow.currentSlideIndex += n, slideshow);
      console.log("MOVING SLIDES!!!!");
    }
    
    function currentSlide(n, slideshow) {
      showSlides(slideshow.currentSlideIndex = n, slideshow);
    }
    </script>

<!-- Begin Slideshow Containers
            Brandon Forsythe, 2023

      All containers will initialize 100 empty spots to be filled by functions below
      and will display 4 elements at a time, controlled by the arrows on each side of slides.
--> 
    <% var currIndex = 0; %>
    <% for (const genre in newMovieGenres) {%>
      <div id="<%= genre %>-slides">
        <p><%= genre %></p>

        <% for (i = 0; i < newMovieGenres[genre].length; i += maxMovies){%>
        <div class="slideshow-group">
          <% for (let j = i; j < i + 100 && j < newMovieGenres[genre].length; j++) { %>
          <script>
          </script>
            <div class="mySlides fade">
              <img height="<%= videoHeight %>px" width="<%= videoWidth %>px" src="https://i.ytimg.com/vi/<%= newMovieGenres[genre][j].url %>/maxresdefault.jpg" onclick="storeURL('<%= newMovieGenres[genre][j].url %>')">
            </div>  
          <% } %>
        <a class="prev" onclick="moveSlides(-1, eval('slideshow' + '<%= currIndex%>'))">❮</a>
        <a class="next" onclick="moveSlides(1, eval('slideshow' + '<%= currIndex%>'))">❯</a>
        <br>
        </div>
      </div>
        <% } %>

      <script>
        {
        var currSlidesIndex = '<%= currIndex%>';
        eval('var slideshow' + '<%= currIndex%>' + ' = document.getElementById("' + '<%= genre %>-slides' + '");');
        slideshowArr.push(document.getElementById("<%= genre %>-slides"));
        eval('var slideshow' + '<%= currIndex%>');
        eval('<%= "slideshow" + currIndex %>' + '.currentSlideIndex = 1;');
        showSlides(eval('<%= "slideshow" + currIndex %>' + '.currentSlideIndex'), eval('slideshow' + currSlidesIndex));
        }
      </script>
      <% currIndex++ %>
    <% } %>

    
</body>

