<head>
    <title>Upload Movie</title>
</head>

<%- include('./partials/head.ejs') %>
<%- include('./partials/userCheck.ejs') %>

<body>
    <div class="wrapper">
        <%- include('./partials/nav.ejs') %>
    <form action="/uploadMovie" method="post" id="movieForm">
        <div class="hcSquare">
            <% if(movie){ %>
            <% var title = movie.title; %>
            <% var url = movie.url; %>
            <% var description = movie.description; %>
            <% var genre = movie.genre; %>
            <% var views = movie.views; %>
            <% }else{ %>
            <% var title = ""; %>
            <% var url = ""; %>
            <% var description = ""; %>
            <% var genre = ""; %>
            <% var views = 0; %>
            <% } %>
            <input type="hidden" id="views" name="views" value="<%= views %>">
            <label> Title: </label>
                <input type="text" placeholder="Enter Title" id="title" name="title" value="<%= title %>" required>
                <br>
            <label> Video ID: </label>
                <input type="text" placeholder="Enter ID" id="ID" name="ID" value="<%= url %>" required>
                <br>
            <label> Genre:</label>
                <select id="genre" name="genre" value="<%= genre %>" required>
                    <option selected disabled hidden>Select</option>
                    <% for(var i = 0; i < genres.length;i++){ %>
                        <% if (genre == genres[i]){ %>
                            <option selected value=<%=genres[i]%>> <%= genres[i] %> </option>
                        <% }else{ %>
                            <option value=<%=genres[i]%>> <%= genres[i] %> </option>
                        <% } %>
                    <% } %>
                </select>
                <br>
            <label> Description: </label>
                <input type="text" placeholder="Enter Description" id="description" name="description" value="<%= description %>" required>
                <br>
            <button type="button" onclick="submitForm()"> Upload</button>
            <nav>
                <a href="/uploadHelp">Upload Help</a>
            </nav>
        </div>
    </form>
    </div>

</body>

<script>
    function submitForm(){
        alert("Movie successfully submitted.");
        document.getElementById("movieForm").submit();
    }
</script>
