
<%- include('./partials/head.ejs') %>
<head>
    <title><%= vidData.title %></title>
    <style>
        Body {
            background-image: none;
            background-color: aqua;
        }
        .desc {
        width: 100%;
        height: flex;
        border-style: solid;
        border-width: 2px;
        }
    </style>
</head>

<body>

    <%- include('./partials/userCheck.ejs') %>
<form id="logout" action="/logout" method="post" type="hidden"></form>

<div class="center">
    <%- include('./partials/nav.ejs') %>
    <div style="text-align: center; font-size: 20;" name="title"><%= vidData.title  %></div>
    <div name="video">
        <a referrerpolicy="origin-when-cross-origin">
            <div id="player"></div>
        </a>
    </div>
    <div class="desc">
        <div>
            <div style="width: 50%; height: 40px; float: left;" name="genre">Genre: <%= vidData.genre %></div>
            <% if(user.accountType == "marketing") {%>
                <div style="margin-left: 50%; height: 40px;" name="views">Views: <%= vidData.views %></div>
            <% }else if(user.accountType == "editor"){ %>
                <div style="margin-left: 50%; height: 40px;">
                    <ul style="list-style-type: none; overflow: hidden;">
                        <li style="padding-left: 0; border-right: none;">
                        <div  name="views">
                            <form id="goUpload" action="/edit" method="post" type="hidden">
                                <input type="hidden" id="title" name="title" value="<%= vidData.title %>">
                                <input type="hidden" id="url" name="url" value="<%= vidData.url %>">
                                <input type="hidden" id="genre" name="genre" value="<%= vidData.genre %>">
                                <input type="hidden" id="description" name="description" value="<%= vidData.description %>">
                                <input type="hidden" id="views" name="views" value="<%= vidData.views %>">
                                
                                <button type="submit">Edit</button>
                            </form>
                        </div>
                        </li>
                        <li >
                        <div style="margin-left:50%;">
                            <form action="/delete" method="post" type="hidden">
                                <button type="submit">Delete</button>
                                <input type="hidden" id="url" name="url" value="<%= vidData.url %>">
                            </form>
                        </div>
                        </li>
                    </ul>
                </div>
            <% }else{ %>
                <div style="margin-left: 50%; height: 40px;" name="views"></div>
            <% } %>
        </div>
        <div style="width: flex;" name="description">Description: <%= vidData.description %></div>
    </div>
</div>
</body>

<script>
    var lastInteration = Date.now();
    document.addEventListener("click",resetTimer);
    document.addEventListener("keydown",resetTimer);
    var state;
    var logoutTime = 300000;

    function resetTimer(){
        lastInteration = Date.now();
    }

    function checkActivity(){
        var state = player.getPlayerState();
        if(Date.now() - lastInteration > logoutTime && state != 1 && state != 3){
            document.getElementById("logout").submit();
        }
    }

    var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: '<%- vidData.url %>',
            playerVars: {
            'playsinline': 1,
            'enablejsapi':1,
            'referrerPolicy': 'origin-when-cross-origin'
            },
            events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
            }
        });
    }
    function onPlayerReady(event) {
       // event.target.playVideo();
    }


    function onPlayerStateChange(event) {
       resetTimer();
    }

    setInterval(checkActivity,1000);

    function retrieveURL(){
  var savedURL = localStorage.getItem("retrievedURL");
  console.log("item retrieved: " + savedURL);
  return savedURL;
}
</script>

